<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<div class="page-header">
  <h1>Poprawne odpowiedzi</h1>
</div>

<br><b>1. Jaki jest numer pogotowia ratunkowego?</b>
    <br>999</br>
<br><b>2. Co powinieneś zrobić jako pierwsze podczas udzielania pierwszej pomocy osobie nieprzytomnej? </b>
    <br>Zadbać o własne bezpieczeństwo</br>
<br><b>3. Osobę nieprzytomną z zachowanym oddechem, leżącą na przystanku należy: </b>
    <br>Ułożyć w pozycji bezpiecznej ustalonej na boku kontrolując oddech.</br>
<br><b>4. W przypadku omdlenia najlepszym wyborem jest: </b>
    <br>Uniesienie nóg oraz rąk do góry.</br>
<br><b>5. W kinie nagle upada jeden z klientów, zaczyna drgać, co Pan/Pani robi? </b>
   <br>Zabezpieczam głowę poszkodowanego, by zapobiec powstaniu urazów nie powstrzymuje drgawek.</br>
<br><b>6. Co to jest AED? </b>
    <br>Automatyczny defibrylator zewnętrzny.</br>
<br><b>7. Podczas seansu filmu jeden z widzów zaczyna się krztusić najlepszym wyborem jest: </b>
    <br>Zachęcić Poszkodowanego do kaszlu, jeśli nie przynosi to oczekiwanego rezultatu wykonaj 5 uderzeń w okolicy między łopatkowej, </br>
          jeśli wcześniej wykonane czynności nie pomogą zastosuj 5 uciśnięć nadbrzusza.</br>
<br><b>8. Jakie zastosujesz postepowanie podczas krwawienia z nosa? </b>
    <br>Każę pochylić głowę poszkodowanego do przodu i uciskać nos.</br>
<br><b>9. Jak poprawnie sprawdzić czy poszkodowany oddycha? </b>
    <br>Odchylić głowę poszkodowanego, nachylić się nad poszkodowanym i obserwując ruch klatki liczyć ilość oddechów
        i wsłuchiwać się w oddech poszkodowanego przez 10 sekund.</br>
<br><b>10. Jaki powinien być stosunek uciśnięć klatki piersiowej do wdechów u osoby dorosłej nieprzytomnej, nieoddychającej? </b>
    <br>30:2</br>
<br><b>11. Jaka powinna być częstotliwość uciśnięć klatki piersiowej oraz ich głębokość? </b>
    <br>100-120 uciśnięć na minutę oraz głębokość 5-6 cm</br>
<br><b>12. Jakie jest postępowanie w przypadku oparzenia? </b>
    <br>Schładzamy miejsce oparzenia zimną bieżącą wodą przez około 20 min.</br>
 <br><b>13. Jakie są objawy udaru? </b>
    <br>Zaburzenie widzenia i mowy, asymetria twarzy, osłabnięcie kończyny po jednej stronie.</br>
<br><b>14. Jakie są objawy zawału? </b>
    <br>Ściskający ból w okolicy mostka.</br>
<br><b>15. Przy podejrzeniu złamania kończyny należy: </b>
    <br>Unieruchomić w zastanej pozycji.</br>
<br><b>16. Przy obfitym krwawieniu z rany kończyny należy: </b>
    <br>Zastosować opatrunek uciskowy.</br>

<br>
<p>
    <a class="btn btn-secondary" href="/" role="button">Home</a>
    <a class="btn btn-dark" href="/result" role="button">Zobacz statystyki</a>
</p>
</br>

{% endblock %}

